/* Сброс стандартных стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    text-align: center;
    padding: 40px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    animation: fadeIn 1.5s ease-in-out;
}

.logo {
    width: 100px; /* Размер изображения */
    height: 100px; /* Размер изображения */
    margin-bottom: 20px; /* Отступ снизу */
    border-radius: 50%; /* Скругление для круглого изображения */
    border: 3px solid #fff; /* Белая рамка вокруг изображения */
}

h1 {
    font-size: 48px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tagline {
    font-size: 18px;
    margin-bottom: 30px;
    font-style: italic;
    color: #ddd;
}

.btn {
    text-decoration: none;
    color: #fff;
    padding: 15px 30px;
    border-radius: 50px;
    background: linear-gradient(135deg, #43cea2, #185a9d);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn:hover {
    background: linear-gradient(135deg, #185a9d, #43cea2);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-3px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
